body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 95%);
}
h1{
    text-align: center;
    font-size: 3em;
    color: hsl(0, 0%,30%);
}
form{
    max-width: 350px;
    margin: auto;
    padding: 25px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px hsla(0, 0%, 0%, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}
label{
    font-size: 1.5em;
    font-weight: 550;
}
input{
    width: 50%;
    font-size: 1.5em;
    text-align: center;
    border: 2px solid hsl(0, 0%, 90%);
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
}
button{
    background-color: hsl(240, 72%, 67%);
    color: white;
    font-size: 1.3rem;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
}
button:hover{
    background-color: hsl(240, 72%, 62%);
}
#total{
    font-size: 1.6rem;
}
#total-amount{
    font-weight: bold;
    color: hsl(240, 72%, 65%);
}